div(class='well well-lg')
  .mainBodyboxHeading
        b My Schedule
  if(teacherProfile)
        if(teacherCourses.length>0)
          .mainBodybox(ng-init='teacherCourses= #{JSON.stringify(teacherCourses)}')
              .divCourseScheduleMain-Wrapper(ng-repeat='teacherCourse in teacherCourses | orderBy : "coursename"')
                .divCourseScheduleMain
                  table(width='100%')
                    tr
                      td(width='60%')
                        b
                          a(href = '#displaycourse/{{teacherCourse._id}}')
                            h3 {{teacherCourse.coursename}}
                      td(width='25%')
                        h4 {{teacherCourse.days}}
                      td(width='15%')
                        h4 {{teacherCourse.time}}
                div
                  table(width='100%')
                    tr
                      td
                        | Start Date: {{teacherCourse.startdate | date:'medium'}}
                      td(style = 'text-align : right;')
                        | End Date: {{teacherCourse.enddate | date:'medium'}}
        else
          .mainBodybox
            p Looks like you are not teaching any course. Go and create some 
            | interesting courses and let the students enroll.
            p
  if(studentProfile)
        if(studentCourses.length>0)
          .mainBodybox(ng-init='studentCourses= #{JSON.stringify(studentCourses)}')
              .divCourseScheduleMain-Wrapper(ng-repeat='studentCourse in studentCourses | orderBy : "courseid.coursename"')
                .divCourseScheduleMain
                  table(width='100%')
                    tr
                      td(width='60%')
                        b
                          a(href = '#displaycourse/{{studentCourse.courseid._id}}')
                            h3 {{studentCourse.courseid.coursename}}
                      td(width='25%')
                        h4 {{studentCourse.courseid.days}}
                      td(width='15%')
                        h4 {{studentCourse.courseid.time}}
                div
                  table(width='100%')
                    tr
                      td
                        | Start Date: {{studentCourse.courseid.startdate | date:'medium'}}
                      td(style = 'text-align : right;')
                        | End Date: {{studentCourse.courseid.enddate | date:'medium'}}
        else
          .mainBodybox
            p Looks like you are not enrolled in any course. Go and enroll in some 
            | interesting courses and find new study partners.
            p
  br
  if(role == 'Student')
        .mainBodyboxHeading
          b Announcements
        if(studentProfile)
          if(studentCourses.length>0)
            if(announcements.length>0)
              .mainBodybox(ng-init='announcements= #{JSON.stringify(announcements)}')
                .divCourseScheduleMain-Wrapper(ng-controller='AnnouncementController', ng-repeat='announcement in announcements | orderBy : "-datetime"')
                  .divCourseScheduleMain
                    table(width='100%')
                      tr
                        td(width='52%')
                          b {{announcement.subject}}
                        td(width='18%')
                          b {{announcement.courseid.coursename}}
                        td(width='25%')
                          | {{announcement.datetime | date:'medium'}}
                        td(width='5%')
                          button.btn.btn-default(ng-click='toggleSelected()') {{btnLabel}}
                    div(ng-show='isSelected()', class='animate-show')
                      | {{announcement.content}}
            else
              .mainBodybox
                p No announcements yet.
          else
            .mainBodybox
              p Looks like you are not enrolled in any course. Go and enroll in some 
              | interesting courses and find new study partners.
              p
  br
  .mainBodyboxHeading(ng-controller='NewsController')
        table(width='100%')
            tr
              td(width='20%')
                b News Updates
              td(width='80%', style='text-align:right;')
                | Limit News to &nbsp; &nbsp;
                input(type='text', ng-model='data.theLimit', style='width:3em')
  if(studentProfile)
        if(studentCourses.length>0)
          .mainBodybox(ng-controller='NewsController', ng-init='news= #{JSON.stringify(news)}')
              .divCourseScheduleMain-Wrapper(ng-repeat='currentNews in news | limitTo:data.theLimit')
                .divCourseScheduleMain
                  table(width='100%')
                    tr
                      td(width='25%')
                        | {{currentNews.datetime | date:'medium'}}
                      td(width='60%')
                        | {{currentNews.content}}
                      td(width='15%')
                        | {{currentNews.label}}
        else
          .mainBodybox
            p Looks like you are not enrolled in any course. Go and enroll in some 
            | interesting courses and find new study partners.
            p
  if(teacherProfile)
        if(teacherCourses.length>0)
         if(news.length>0)
          .mainBodybox(ng-controller='NewsController', ng-init='news= #{JSON.stringify(news)}')
              .divCourseScheduleMain-Wrapper(ng-repeat='currentNews in news | limitTo:data.theLimit')
                .divCourseScheduleMain
                  table(width='100%')
                    tr
                      td(width='25%')
                        | {{currentNews.datetime | date:'medium'}}
                      td(width='60%')
                        | {{currentNews.content}}
                      td(width='15%')
                        | {{currentNews.label}}
         else
          .mainBodybox
            p News regarding your courses will be shown here.
        else
          .mainBodybox
            p Looks like you are not teaching any course. Go and create some 
            | interesting courses and let the students enroll.
            p
