div(ng-init='configdata= #{JSON.stringify(configdata)}')
 if (user)
  .container(ng-init='course= #{JSON.stringify(course)}', class='well well-lg')
   div(ng-init='announcements= #{JSON.stringify(announcements)}')
    div(ng-init='gradings= #{JSON.stringify(gradings)}')
     tabset(justified='true', ng-init='gotfiles= #{JSON.stringify(files)}')
      tab(heading='Course', class='animate-show')
        br
        h4 {{course.coursename}}
        br
        table(width="100%", border='0', bordercolor='#000000', cellspacing='0', cellpadding='2')
         tr
           td(width='25%')
             b Course Name
           td
             | {{course.coursename}}
         tr
           td(width='25%', valign='top')
             b Course Description
           td
             | {{course.coursedescription}}
         tr
           td(width='25%')
             b Course Code
           td
             | {{course.coursecode}}
         tr
           td(width='25%')
             b Prerequisite
           td
             | {{course.prerequisite}}
         tr
           td(width='25%')
             b Workload
           td
             | {{course.workload}}
         tr
           td(width='25%')
             b Start Date
           td
             | {{course.startdate | date : 'medium'}}
         tr
           td(width='25%')
             b End Date
           td
             | {{course.enddate | date : 'medium'}}
         tr
           td(width='25%')
             b Session Days
           td
             | {{course.days}}
         tr
           td(width='25%')
             b Course Timings
           td
             | {{course.time}} ({{course.timecountry}} Time)
         tr
           td(width='25%')
             b Teacher Name
           td
             | {{course.teacherid.teachername.firstname}} {{course.teacherid.teachername.lastname}}
         tr
           td(colspan='2')
             .divButtonWrapper
               if(role == 'Student')
                 if(!enrolled)
                   if(course.registrationOpen == 'Yes')
                     a(href = '#enrollcourse/{{course._id}}', class='divButton')
                       | Enroll
                   else
                     b Registration for this course has been CLOSED by the teacher
                 else
                   b
                     | You are enrolled in this course.
               else if(role == 'Teacher')
                 if(courseBelongsToTeacher)
                   a(href = '#editcourse/{{course._id}}', class='divButton')
                     | Edit
                   a(href = '', class='divButton', ng-show='isRegistrationOpen()', ng-click='toggleRegistration()')
                       | Close Registration
                   a(href = '', class='divButton', ng-show='!isRegistrationOpen()', ng-click='toggleRegistration()')
                       | Open Registration
      tab(heading='Teacher', class='animate-show')
         //if(!courseBelongsToTeacher) //press two times backspace to restore
         br
         h4 Course Teacher Profile
         br
         table(width="100%", border='0', bordercolor='#000000', cellspacing='0', cellpadding='2')
          tr
            td(width='25%')
              b First Name
            td
              | {{course.teacherid.teachername.firstname}}
          tr
            td(width='25%')
              b Last Name
            td
              | {{course.teacherid.teachername.lastname}}
          tr
            td(colspan='2')
              b
               u
                | Undergrad Education
          tr
            td(width='25%')
              b Subject Area
            td
              | {{course.teacherid.undergradarea}}
          tr
            td(width='25%')
              b Academic Institution
            td
              | {{course.teacherid.undergradschool}}
          tr
            td(width='25%')
              b Year
            td
              | {{course.teacherid.undergradyear}}
          tr
            td(colspan='2')
              b
               u
                | Graduate Education
          tr
            td(width='25%')
              b Subject Area
            td
              | {{course.teacherid.gradarea}}
          tr
            td(width='25%')
              b Academic Institution
            td
              | {{course.teacherid.gradschool}}
          tr
            td(width='25%')
              b Year
            td
              | {{course.teacherid.gradyear}}
          tr
            td(colspan='2')
              b
               u
                | PhD Education
          tr
            td(width='25%')
              b Subject Area
            td
              | {{course.teacherid.phdarea}}
          tr
            td(width='25%')
              b Academic Institution
            td
              | {{course.teacherid.phdschool}}
          tr
            td(width='25%')
              b Year
            td
              | {{course.teacherid.phdyear}}
         br
         br
         if(!courseBelongsToTeacher)
          a(href = '#viewteacherprofile/{{course.teacherid._id}}', class='divButton')
           | View Teacher Profile
      tab(heading='Files', class='animate-show')
       if((role == 'Student' && enrolled) || role == 'Teacher' || role == 'Admin')
         br
         h4 File Management
         br
         div(ng-show='storageFull()', class='animate-show')
          | You have reached your maximum file upload limit. Kindly remove some old unused files
          | to upload new files.
         div(ng-show='!storageFull()', class='animate-show')
          br
          input(type='file', ng-file-select='onFileSelect($files)')
          br
          div(ng-show='selectedFiles != null', class='animate-show')
            br
            | Progress:
            br
            div(class='sel-file', ng-repeat='f in selectedFiles')
              img(ng-show='dataUrls[$index]', ng-src='{{dataUrls[$index]}}')
              b {{f.name}}
              br
              b Size: 
              | {{f.size}}B
              br
              b Type:
              | {{f.type}}
              br
              b
                p(ng-bind='message')
              button(class='button', ng-click='start($index)', ng-show='progress[$index] < 0') Start
              span(class='progress', ng-show='progress[$index] >= 0')
                div(style='width:{{progress[$index]}}%') {{progress[$index]}}%
              button(class='button', ng-click='abort($index)', ng-show='hasUploader($index) && progress[$index] < 100') Abort
         .mainBodyboxHeading
           table(width='100%')
             tr
               td(width='20%')
                 b My Files &nbsp;
               td(width='80%', style='text-align:right;')
                 input(type='text', ng-model='searchFileName', placeholder='Search')
         .mainBodybox(ng-show='gotfiles.length > 0')
               .divCourseScheduleMain-Wrapper(ng-repeat='file in gotfiles | orderBy : "fileid.filename" | filter : {fileid.filename:searchFileName}')
                 .divCourseScheduleMain
                   table(width='100%')
                     tr
                       td(width='47%')
                         a(href='/downloadClassFile{{file.fileid.filephysicalpath}}', target="_blank")
                           b {{file.fileid.filename}}
                       td(width='18%')
                         b {{file.fileid.size}} B
                       td(width='25%')
                         | {{file.fileid.uploaddate | date:'medium'}}
                       td(width='10%')
                         button(class='button', ng-click='deleteClassFile(file)') Remove
         .mainBodybox(ng-show='gotfiles.length == 0')
             p No file has been uploaded here. Teacher and students can upload important documents here.
             | Your personal file space will be different from the file space allocated to this class
             p
      tab(heading='Students', class='animate-show')
       if((role == 'Student' && enrolled) || role == 'Teacher' || role == 'Admin')
         br
         h4 Students enrolled
         br
         table(width="100%", border='0', bordercolor='#000000', cellspacing='0', cellpadding='18')
          tr
            td
             if(coursestudents.length > 0)
              for coursestudent in coursestudents
                .courseStudent
                  if(coursestudent.user.picture)
                    a(href='#viewstudentprofile/'+ coursestudent._id)
                      img(src='/userimage'+coursestudent.user.picture, width='110px', height='140px', class='img-frame')
                  else if(coursestudent.user.fb_photo)
                    a(href='#viewstudentprofile/'+ coursestudent._id)
                      img(src='{{coursestudent.user.fb_photo}}', width='110px', height='140px', class='img-frame')
                  else if(coursestudent.user.google_photo)
                    a(href='#viewstudentprofile/'+ coursestudent._id)
                      img(src='{{coursestudent.user.google_photo}}', width='110px', height='140px', class='img-frame')
                  else if(coursestudent.user.windows_photo)
                    a(href='#viewstudentprofile/'+ coursestudent._id)
                      img(src='{{coursestudent.user.windows_photo}}', width='110px', height='140px', class='img-frame')
                  else
                    a(href='#viewstudentprofile/'+ coursestudent._id)
                      img(src='/images/displayPic.jpg', width='110px', height='140px', class='img-frame')
                  br
                  a(href='#viewstudentprofile/'+ coursestudent._id)
                    | #{coursestudent.user.username}
             else
               if(role == 'Student')
                 if(enrolled)
                   | No other student has enrolled in this course except you
               else
                 | No Student has enrolled in this course     
        else
          b
            | Number of Students enrolled: 
          | #{coursestudents.length}
      tab(heading='Announcements', class='animate-show')
       if((role == 'Student' && enrolled) || role == 'Teacher' || role == 'Admin')
        br
        br
        if(role == 'Teacher')
         h4 Make an announcement
         br
         form(role='form', novalidate, name='form', class='css-form', ng-submit='makeAnnouncement()')
          label Subject
          .form-group
              input.form-control(type='text', name="subject", placeholder='Subject', ng-model='newannouncement.subject', required, ng-minlength='3', ng-maxlength='75', ng-focus)
          div(ng-show!="form.subject.$dirty && !form.subject.$focused")
            div(ng-show="form.subject.$invalid")
              span(ng-show="form.subject.$error.required")
                | Enter the subject.
              span(ng-show="form.subject.$error.minlength")
                | Subject is too short.
              span(ng-show="form.subject.$error.maxlength")
                | Subject is too big.
          label Announcement
          .form-group
              textarea.form-control(rows=8, cols=75, name="announcement", placeholder='Enter your announcement here.', ng-model='newannouncement.announcement', required, ng-focus)
          div(ng-show="form.announcement.$dirty && !form.announcement.$focused")
            div(ng-show!="form.announcement.$invalid")
              span(ng-show="form.announcement.$error.required")
                | Enter the announcement.
          button.btn.btn-default(type='submit', ng-disabled="form.$invalid || isUnchanged(user)", class='action') Announce
          button.btn.btn-primary(type="reset", ng-click="reset()", ng-disabled="isUnchanged(user)") Reset
          br
          br
         .mainBodyboxHeading
           b Announcements
         .mainBodybox(ng-init='announcements= #{JSON.stringify(announcements)}')
             .divCourseScheduleMain-Wrapper(ng-controller='AnnouncementController', ng-repeat='announcement in announcements | orderBy : "-datetime"', ng-show='announcements.length>0')
               .divCourseScheduleMain
                 table(width='100%')
                   tr
                     td(width='65%')
                       b {{announcement.subject}}
                     td(width='25%')
                       | {{announcement.datetime | date:'medium'}}
                     td(width='5%')
                       button.btn.btn-default(ng-click='toggleSelected()') View
                     td(width='5%')
                       button.btn.btn-default(ng-click='toggleEditSelected()') Edit
                 div(ng-show='isSelected()', class='animate-show')
                   | {{announcement.content}}
                 div(ng-show='isEditSelected()', class='animate-show')
                   form(role='form', novalidate, name='form', class='css-form', ng-submit='processForm()')
                    label Subject
                    .form-group
                        input.form-control(type='text', name="subject", ng-model='announcement.subject', required, ng-minlength='3', ng-maxlength='75', ng-focus)
                    div(ng-show!="form.subject.$dirty && !form.subject.$focused")
                      div(ng-show="form.subject.$invalid")
                        span(ng-show="form.subject.$error.required")
                          | Enter the subject.
                        span(ng-show="form.subject.$error.minlength")
                          | Subject is too short.
                        span(ng-show="form.subject.$error.maxlength")
                          | Subject is too big.
                    label Announcement
                    .form-group
                        textarea.form-control(rows=8, cols=75, name="announcement", ng-model='announcement.content', required, ng-focus)
                    div(ng-show="form.announcement.$dirty && !form.announcement.$focused")
                      div(ng-show!="form.announcement.$invalid")
                        span(ng-show="form.announcement.$error.required")
                          | Enter the announcement.
                    button.btn.btn-default(type='submit', ng-disabled="form.$invalid || isUnchanged(user)", class='action') Announce
             .divCourseScheduleMain-Wrapper(ng-show='announcements.length==0')
               | Your course announcements will appear here.
        if(role == 'Student')
         .mainBodyboxHeading
           b Announcements
         .mainBodybox
             .divCourseScheduleMain-Wrapper(ng-controller='AnnouncementController', ng-repeat='announcement in announcements | orderBy : "-datetime"', ng-show='announcements.length>0')
               .divCourseScheduleMain
                 table(width='100%')
                   tr
                     td(width='70%', style='text-align: left;')
                       b {{announcement.subject}}
                     td(width='25%')
                       | {{announcement.datetime | date:'medium'}}
                     td(width='5%')
                       button.btn.btn-default(ng-click='toggleSelected()') View
                 div(ng-show='isSelected()', class='animate-show')
                   | {{announcement.content}}
      tab(heading='Grading', class='animate-show')
       br
       br
       if(role == 'Teacher' || role == 'Admin')
         .mainBodyboxHeading
           b Grading
         .mainBodybox
             .divCourseScheduleMain-Wrapper(ng-controller='GradingController', ng-repeat='grading in gradings | orderBy : "studentid.studentname.firstname"', ng-show='gradings.length>0')
               .divCourseScheduleMain
                 table(width='100%')
                   tr
                     td(width='40%')
                       b {{grading.studentid.studentname.firstname}}
                     td(width='40%')
                       .form-group
                           select(name="role", ng-model = 'grading.grade')
                             option(value="N/A") N/A
                             option(value="A") A
                             option(value="A-") A-
                             option(value="B+") B+
                             option(value="B") B
                             option(value="B-") B-
                             option(value="C+") C+
                             option(value="C") C
                             option(value="C-") C-
                             option(value="F") F
                     td(width='20%')
                       button.btn.btn-default(ng-click='save()') Save
       if(role == 'Student' && enrolled)
         .mainBodyboxHeading
           b Grading
         .mainBodybox
             .divCourseScheduleMain-Wrapper
               .divCourseScheduleMain
                 b Your Grade : 
                 | {{gradings[0].grade}}