extends menu

block append head
  //script(src='/javascripts/cloudKiboApp.js')

block bodyaftermenu
  .mainBodyPane
    if (user)
      .container
        br
        h1 User Settings
        br
        br
  .fullBodyPane
    .sidePane
     if(user)
      #sidePanebox
        p You are logged in as 
         br
         b
           | #{role}
      br
      if(user.picture)
        img(src='/userimage'+user.picture, width='110px', height='140px')
      else
        img(src='/images/displaypic.png', width='110px', height='140px')
      br
      if(teacherProfile)
        b
          | #{teacherProfile.teachername.firstname} #{teacherProfile.teachername.lastname}
        br
        a(href='/myteacherprofile')
          | View Profile
      if(studentProfile)
        b
          | #{studentProfile.studentname.firstname} #{studentProfile.studentname.lastname}
        br
        a(href='/mystudentprofile')
          | View Profile
      if(adminProfile)
        b
          | #{adminProfile.adminname.firstname} #{adminProfile.adminname.lastname}
        br
        a(href='/myadminprofile')
          | View Profile
      if(parentProfile)
        b
          | #{parentProfile.parentname.firstname} #{parentProfile.parentname.lastname}
        br
        a(href='/myparentprofile')
          | View Profile
        br
        br
