if (user)
      .container
       if(viewedTeacherProfile)
        br
        h3 #{viewedTeacherProfile.teachername.firstname} #{viewedTeacherProfile.teachername.lastname}
        br
        if(viewedTeacherProfile.user.picture)
          img(src='/userimage'+viewedTeacherProfile.user.picture, width='200px', height='230px', class='img-frame')
        else if(viewedTeacherProfile.user.fb_photo)
          img(src=''+viewedTeacherProfile.user.fb_photo, width='200px', height='230px', class='img-frame')
        else if(viewedTeacherProfile.user.google_photo)
          img(src=''+viewedTeacherProfile.user.google_photo, width='200px', height='230px', class='img-frame')
        else if(viewedTeacherProfile.user.windows_photo)
          img(src=''+viewedTeacherProfile.user.windows_photo, width='200px', height='230px', class='img-frame')
        else
          img(src='/images/displaypic.jpg', width='200px', height='230px')
        if(viewedTeacherProfile)
         br
         br
         h4 Username : #{viewedTeacherProfile.user.username}
         table(width='100%', border='0', bordercolor='#000000', cellspacing='0')
          tr
            td(width='25%')
              b First Name
            td
              | #{viewedTeacherProfile.teachername.firstname}
          tr
            td(width='25%')
              b Last Name
            td
              | #{viewedTeacherProfile.teachername.lastname}
          tr
            td(colspan='2')
              b
               u
                | Undergrad Education
          tr
            td(width='25%')
              b Subject Area
            td
              | #{viewedTeacherProfile.undergradarea}
          tr
            td(width='25%')
              b Academic Institution
            td
              | #{viewedTeacherProfile.undergradschool}
          tr
            td(width='25%')
              b Year
            td
              | #{viewedTeacherProfile.undergradyear}
          tr
            td(colspan='2')
              b
               u
                | Graduate Education
          tr
            td(width='25%')
              b Subject Area
            td
              | #{viewedTeacherProfile.gradarea}
          tr
            td(width='25%')
              b Academic Institution
            td
              | #{viewedTeacherProfile.gradschool}
          tr
            td(width='25%')
              b Year
            td
              | #{viewedTeacherProfile.gradyear}
          tr
            td(colspan='2')
              b
               u
                | PhD Education
          tr
            td(width='25%')
              b Subject Area
            td
              | #{viewedTeacherProfile.phdarea}
          tr
            td(width='25%')
              b Academic Institution
            td
              | #{viewedTeacherProfile.phdschool}
          tr
            td(width='25%')
              b Year
            td
              | #{viewedTeacherProfile.phdyear}
        br
        .mainBodyboxHeading
          b #{viewedTeacherProfile.teachername.firstname}'s Courses
        if(viewedTeacherProfile)
          if(teacherCourses.length>0)
            .mainBodybox
              for teacherCourse in teacherCourses
                .divCourseScheduleMain-Wrapper
                  .divCourseScheduleMain
                    table(width='100%')
                      tr
                        td(width='55%')
                          h2 #{teacherCourse.coursename}
                        td(width='25%')
                          h4 #{teacherCourse.days}
                        td(width='15%')
                          h4 #{teacherCourse.time}
                        td(width='5%')
                          a(href = '#displaycourse/' + teacherCourse._id)
                            | Display
          else
            .mainBodybox
              p This teacher is not teaching any course.
              p
        br
        .mainBodyboxHeading
          b #{viewedTeacherProfile.teachername.firstname}'s Files
        if(viewedTeacherProfile)
          if(files.length>0)
            .mainBodybox
              for file in files
               if(file.fileid.isprivate == 'No')
                .divCourseScheduleMain-Wrapper
                  .divCourseScheduleMain
                    table(width='100%')
                      tr
                        td(width='70%')
                          h2 #{file.fileid.filename}
                        td(width='25%')
                          h4 #{file.fileid.size}
                        td(width='5%')
                          a(href='/download'+ file.fileid.filephysicalpath, target="_blank")
                            | Download
          else
            .mainBodybox
              p This teacher has not uploaded any file.
              p
       if(viewedStudentProfile)
        br
        h3 #{viewedStudentProfile.studentname.firstname} #{viewedStudentProfile.studentname.lastname}
        br
        if(viewedStudentProfile.user.picture)
          img(src='/userimage'+viewedStudentProfile.user.picture, width='200px', height='230px')
        else if(viewedStudentProfile.user.fb_photo)
          img(src=''+viewedStudentProfile.user.fb_photo, width='200px', height='230px', class='img-frame')
        else if(viewedStudentProfile.user.google_photo)
          img(src=''+viewedStudentProfile.user.google_photo, width='200px', height='230px', class='img-frame')
        else if(viewedStudentProfile.user.windows_photo)
          img(src=''+viewedStudentProfile.user.windows_photo, width='200px', height='230px', class='img-frame')
        else
          img(src='/images/displaypic.jpg', width='200px', height='230px')
        if(viewedStudentProfile)
         br
         br
         h4 Username : #{viewedStudentProfile.user.username}
         br
         br
         table(width='100%', border='0', bordercolor='#000000', cellspacing='0')
          tr
            td(width='25%')
              b First Name
            td
              | #{viewedStudentProfile.studentname.firstname}
          tr
            td(width='25%')
              b Last Name
            td
              | #{viewedStudentProfile.studentname.lastname}
          tr
            td(width='25%')
              b Degree
            td
              | #{viewedStudentProfile.degree}
          tr
            td(width='25%')
              b Batch
            td
              | #{viewedStudentProfile.batch}
        br
        .mainBodyboxHeading
          b #{viewedStudentProfile.studentname.firstname}'s Courses
        if(viewedStudentProfile)
          if(studentCourses.length>0)
            .mainBodybox
              for studentCourse in studentCourses
                .divCourseScheduleMain-Wrapper
                  .divCourseScheduleMain
                    table(width='100%')
                      tr
                        td(width='55%')
                          h2 #{studentCourse.courseid.coursename}
                        td(width='25%')
                          h4 #{studentCourse.courseid.days}
                        td(width='15%')
                          h4 #{studentCourse.courseid.time}
                        td(width='5%')
                          a(href = '#displaycourse/' + studentCourse.courseid._id)
                            | Display
          else
            .mainBodybox
              p Student is not enrolled in any course
              p
        br
        .mainBodyboxHeading
          b #{viewedStudentProfile.studentname.firstname}'s Files
        if(viewedStudentProfile)
          if(files.length>0)
            .mainBodybox
              for file in files
               if(file.fileid.isprivate == 'No')
                .divCourseScheduleMain-Wrapper
                  .divCourseScheduleMain
                    table(width='100%')
                      tr
                        td(width='70%')
                          h2 #{file.fileid.filename}
                        td(width='25%')
                          h4 #{file.fileid.size}
                        td(width='5%')
                          a(href='/download'+ file.fileid.filephysicalpath, target="_blank")
                            | Download
          else
            .mainBodybox
              p This student has not uploaded any file.
              p