extends layout

block content
 if(user)
  body(ng-init='user=#{JSON.stringify(user)}')
   .pre-header
     .container
       .row
         div(class='col-md-6 col-sm-6 additional-shop-info')
           ul(class='list-unstyled list-inline')
             li
               i(class='fa fa-phone')
               span
                 | 332-3800399
             li
               i(class='fa fa-envelope-o')
               span
                 | support@cloudkibo.com
         div(class='col-md-6 col-sm-6 additional-nav')
           ul(class='list-unstyled list-inline pull-right')
             li
               a(ng-href='#logout')
                 | Log Out
   .header
    .container
      a(class='site-logo', href='#')
        img(src='/images/logo_small.png')
        | #{title}
      a(href='javascript:void(0);', class='mobi-toggler')
        i(class='fa fa-bars')
      div(class='header-navigation pull-right font-transform-inherit')
              ul
   .container
       br
       h1 Administration Dashboard
       br
       if(schema == 'Accounts')
        br
        input(type='text', ng-model='searchNameText', placeholder='Search')
        table(bgcolor="#00FFFF", width="1000px", border='1', bordercolor='#000000', cellspacing='0', cellpadding='5', ng-init='data= #{JSON.stringify(data)}')
         tr
           th
             | User Name
           th
             | First Name
           th
             | Last Name
           th
             | Email
           th
             | phone
           th
             | country
           th
             | state
           th
             | fbId
           th
             | googleId
           th
             | windowsId
           th
             | isTeacher
           th
             | isStudent
           th
             | isAdmin
           th
             | isParent
           th
             | isOwner
           th
             | picture
           th
             | date
         tr(ng-repeat='document in data | filter : {username:searchNameText} | orderBy : "-date"', class='divCourseScheduleMain-Wrapper')
           td
             | {{document.username | lowercase}}
           td
             | {{document.firstname}}
           td
             | {{document.lastname}}
           td
             | {{document.email}}
           td
             | {{document.phone}}
           td
             | {{document.country}}
           td
             | {{document.state}}
           td
             | {{document.fbId}}
           td
             | {{document.googleId}}
           td
             | {{document.windowsId}}
           td
             | {{document.isTeacher}}
           td
             | {{document.isStudent}}
           td
             | {{document.isAdmin}}
           td
             | {{document.isParent}}
           td
             | {{document.isOwner}}
           td
             | {{document.picture}}
           td
             | {{document.date | date:'medium'}}
        br
       if(schema == 'Students')
        br
        input(type='text', ng-model='searchNameText', placeholder='Search')
        table(bgcolor="#00FFFF", width="1000px", border='1', bordercolor='#000000', cellspacing='0', cellpadding='5', ng-init='data= #{JSON.stringify(data)}')
         tr
           th
             | user
           th
             | studentname
           th
             | degree
           th
             | batch
           th
             | parent
         tr(ng-repeat='document in data | filter : {studentname:searchNameText} | orderBy : "studentname"', class='divCourseScheduleMain-Wrapper')
           td
             | {{document.user}}
           td
             | {{document.studentname.firstname}} {{document.studentname.lastname}}
           td
             | {{document.degree}}
           td
             | {{document.batch}}
           td
             | {{document.parent}}
       if(schema == 'Teachers')
        br
        input(type='text', ng-model='searchNameText', placeholder='Search')
        table(bgcolor="#00FFFF", width="1000px", border='1', bordercolor='#000000', cellspacing='0', cellpadding='5', ng-init='data= #{JSON.stringify(data)}')
         tr
           th
             | user
           th
             | teachername
           th
             | undergradschool
           th
             | undergradyear
           th
             | undergradarea
           th
             | gradschool
           th
             | gradyear
           th
             | gradarea
           th
             | phdschool
           th
             | phdyear
           th
             | phdarea
         tr(ng-repeat='document in data | filter : {teachername:searchNameText} | orderBy : "teachername"', class='divCourseScheduleMain-Wrapper')
           td
             | {{document.user}}
           td
             | {{document.teachername.firstname}} {{document.teachername.lastname}}
           td
             | {{document.undergradschool}}
           td
             | {{document.undergradyear}}
           td
             | {{document.undergradarea}}
           td
             | {{document.gradschool}}
           td
             | {{document.gradyear}}
           td
             | {{document.gradarea}}
           td
             | {{document.phdschool}}
           td
             | {{document.phdyear}}
           td
             | {{document.phdarea}}
       if(schema == 'Admins')
        br
        input(type='text', ng-model='searchNameText', placeholder='Search')
        table(bgcolor="#00FFFF", width="1000px", border='1', bordercolor='#000000', cellspacing='0', cellpadding='5', ng-init='data= #{JSON.stringify(data)}')
         tr
           th
             | user
           th
             | adminname
         tr(ng-repeat='document in data | filter : {adminname:searchNameText} | orderBy : "adminname"', class='divCourseScheduleMain-Wrapper')
           td
             | {{document.user}}
           td
             | {{document.adminname.firstname}} {{document.adminname.lastname}}
       if(schema == 'Parents')
        br
        input(type='text', ng-model='searchNameText', placeholder='Search')
        table(bgcolor="#00FFFF", width="1000px", border='1', bordercolor='#000000', cellspacing='0', cellpadding='5', ng-init='data= #{JSON.stringify(data)}')
         tr
           th
             | user
           th
             | parentname
           th
             | parentrole
         tr(ng-repeat='document in data | filter : {parentname:searchNameText} | orderBy : "parentname"', class='divCourseScheduleMain-Wrapper')
           td
             | {{document.user}}
           td
             | {{document.parentname.firstname}} {{document.parentname.lastname}}
           td
             | {{document.parentrole}}
       if(schema == 'Courses')
        br
        input(type='text', ng-model='searchNameText', placeholder='Search')
        table(bgcolor="#00FFFF", width="1000px", border='1', bordercolor='#000000', cellspacing='0', cellpadding='5', ng-init='data= #{JSON.stringify(data)}')
         tr
           th
             | coursename
           th
             | coursedescription
           th
             | coursecode
           th
             | prerequisite
           th
             | workload
           th
             | startdate
           th
             | enddate
           th
             | days
           th
             | time
           th
             | timecountry
           th
             | registrationOpen
           th
             | teacherid
         tr(ng-repeat='document in data | filter : {coursename:searchNameText} | orderBy : "coursename"', class='divCourseScheduleMain-Wrapper')
           td
             | {{document.coursename}}
           td
             | {{document.coursedescription}}
           td
             | {{document.coursecode}}
           td
             | {{document.prerequisite}}
           td
             | {{document.workload}}
           td
             | {{document.startdate | date:medium}}
           td
             | {{document.enddate | date:medium}}
           td
             | {{document.days}}
           td
             | {{document.time}}
           td
             | {{document.timecountry}}
           td
             | {{document.registrationOpen}}
           td
             | {{document.teacherid}}
       if(schema == 'CourseStudents')
        br
        input(type='text', ng-model='searchNameText', placeholder='Search')
        table(bgcolor="#00FFFF", width="1000px", border='1', bordercolor='#000000', cellspacing='0', cellpadding='5', ng-init='data= #{JSON.stringify(data)}')
         tr
           th
             | studentid
           th
             | courseid
           th
             | enrollmentdate
         tr(ng-repeat='document in data | filter : {enrollmentdate:searchNameText} | orderBy : "enrollmentdate"', class='divCourseScheduleMain-Wrapper')
           td
             | {{document.studentid}}
           td
             | {{document.courseid}}
           td
             | {{document.enrollmentdate | date:'medium'}}
       if(schema == 'Files')
        br
        input(type='text', ng-model='searchNameText', placeholder='Search')
        table(bgcolor="#00FFFF", width="1000px", border='1', bordercolor='#000000', cellspacing='0', cellpadding='5', ng-init='data= #{JSON.stringify(data)}')
         tr
           th
             | filename
           th
             | filephysicalpath
           th
             | isprivate
           th
             | size
           th
             | uploaddate
         tr(ng-repeat='document in data | filter : {filename:searchNameText} | orderBy : "filename"', class='divCourseScheduleMain-Wrapper')
           td
             | {{document.filename}}
           td
             | {{document.filephysicalpath}}
           td
             | {{document.isprivate}}
           td
             | {{document.size}}
           td
             | {{document.uploaddate | date:'medium'}}
       if(schema == 'FileUsers')
        br
        input(type='text', ng-model='searchNameText', placeholder='Search')
        table(bgcolor="#00FFFF", width="1000px", border='1', bordercolor='#000000', cellspacing='0', cellpadding='5', ng-init='data= #{JSON.stringify(data)}')
         tr
           th
             | userid
           th
             | fileid
         tr(ng-repeat='document in data | filter : {fileid:searchNameText} | orderBy : "fileid"', class='divCourseScheduleMain-Wrapper')
           td
             | {{document.userid}}
           td
             | {{document.fileid}}
       if(schema == 'FileCourses')
        br
        input(type='text', ng-model='searchNameText', placeholder='Search')
        table(bgcolor="#00FFFF", width="1000px", border='1', bordercolor='#000000', cellspacing='0', cellpadding='5', ng-init='data= #{JSON.stringify(data)}')
         tr
           th
             | courseid
           th
             | fileid
         tr(ng-repeat='document in data | filter : {fileid:searchNameText} | orderBy : "fileid"', class='divCourseScheduleMain-Wrapper')
           td
             | {{document.courseid}}
           td
             | {{document.fileid}}
       if(schema == 'News')
        br
        input(type='text', ng-model='searchNameText', placeholder='Search')
        table(bgcolor="#00FFFF", width="1000px", border='1', bordercolor='#000000', cellspacing='0', cellpadding='5', ng-init='data= #{JSON.stringify(data)}')
         tr
           th
             | label
           th
             | content
           th
             | userid
           th
             | fileid
           th
             | teacherid
           th
             | studentid
           th
             | adminid
           th
             | parentid
           th
             | courseid
           th
             | datetime
         tr(ng-repeat='document in data | filter : {content:searchNameText} | orderBy : "-datetime"', class='divCourseScheduleMain-Wrapper')
           td
             | {{document.label}}
           td
             | {{document.content}}
           td
             | {{document.userid}}
           td
             | {{document.fileid}}
           td
             | {{document.teacherid}}
           td
             | {{document.studentid}}
           td
             | {{document.adminid}}
           td
             | {{document.parentid}}
           td
             | {{document.courseid}}
           td
             | {{document.datetime | date : 'medium'}}
       if(schema == 'Announcements')
        br
        input(type='text', ng-model='searchNameText', placeholder='Search')
        table(bgcolor="#00FFFF", width="1000px", border='1', bordercolor='#000000', cellspacing='0', cellpadding='5', ng-init='data= #{JSON.stringify(data)}')
         tr
           th
             | label
           th
             | subject
           th
             | content
           th
             | teacherid
           th
             | courseid
           th
             | datetime
         tr(ng-repeat='document in data | filter : {subject:searchNameText} | orderBy : "-datetime"', class='divCourseScheduleMain-Wrapper')
           td
             | {{document.label}}
           td
             | {{document.subject}}
           td
             | {{document.content}}
           td
             | {{document.teacherid}}
           td
             | {{document.courseid}}
           td
             | {{document.datetime | date : 'medium'}}
       br
 br
 br
 br
